guess {
  .rankRow {
    width: 100%;
    display: flex;
  }

  .rankRow > div {
    flex-grow: 1;

  }

  .answerNote {
    white-space: pre-line;
    padding-left: 1rem;
    padding-right: 1rem;
    color: darken( white, 30%);
  }
}
