// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #1EB980,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  background: #76A6AA,
  darkBlue: #217482,
  lightBlue: #6687B4,
  sunRiseRed: #FEBB57,
  cardColor: #373740,
  dark: #424250,
  accentGreen: #1EB980,
  darkGreen: #045D56,
);


$card-md-text-color: white;

/* Popover */
$popover-ios-background: color($colors, cardColor);
$popover-md-background: color($colors, cardColor);
$popover-wp-background: color($colors, cardColor);

/* End Popover */

/* Toolbar */
$toolbar-background: color($colors, dark);
/* End Toolbar */

/* Tabs */
$tabs-background:  color($colors, cardColor);
$tabs-ios-tab-icon-color: color($colors, accentGreen);
$tabs-md-tab-icon-color: color($colors, accentGreen);
$tabs-wp-tab-icon-color: color($colors, accentGreen);


$tabs-wp-tab-icon-color-active: color($colors, accentGreen);
$tabs-ios-tab-icon-color-active: color($colors, accentGreen);
$tabs-md-tab-icon-color-active: color($colors, accentGreen);


/* End Tabs */


/* Alert */
$alert-ios-background: color($colors, cardColor);
$alert-md-background-color: color($colors, cardColor);
$alert-wp-background: color($colors, cardColor);

$alert-ios-checkbox-background-color-on: color($colors, accentGreen);
$alert-wp-checkbox-background-color-on: color($colors, accentGreen);

$alert-ios-checkbox-border-color-on: color($colors, cardColor);
$alert-md-checkbox-border-color-on: color($colors, darkGreen);
$alert-wp-checkbox-border-color-on: color($colors, cardColor);

$alert-ios-button-text-color: color($colors, accentGreen);
$alert-md-button-text-color: color($colors, accentGreen);
$alert-wp-button-text-color: color($colors, accentGreen);

$alert-ios-checkbox-label-text-color: darken(white, 20%);
$alert-wp-checkbox-label-text-color: darken(white, 20%);
$alert-md-checkbox-label-text-color: darken(white, 20%);

$alert-wp-checkbox-label-text-color-checked: darken(white, 20%);
$alert-md-checkbox-label-text-color-checked: darken(white, 20%);
$alert-ios-checkbox-label-text-color-checked: darken(white, 20%);

$alert-ios-button-background-color-activated: lighten(color($colors, cardColor), 10%);
$alert-md-button-background-color-activated: lighten(color($colors, cardColor), 10%);
$alert-wp-button-background-color-activated: lighten(color($colors, cardColor), 10%);

/* Alert End */

/* List */
$list-border-color:  color($colors, accentGreen);
$list-background-color: color($colors, cardColor);

$list-ios-activated-background-color: lighten(color($colors, cardColor), 10%);
$list-md-activated-background-color: lighten(color($colors, cardColor), 10%);
$list-wp-activated-background-color: lighten(color($colors, cardColor), 10%);

$list-md-header-margin-bottom: 0px;
$list-md-header-border-top: 0px;
/* End List */

/* Text */
$text-color: darken(white, 10%);
/* End Text */

/* List header */
$list-ios-header-color: darken(white, 30%);;
$list-md-header-color: darken(white, 30%);;
$list-wp-header-color: darken(white, 30%);;
/* end header */

/* input */
$text-input-md-show-focus-highlight: false;
/* End input */


/* Paragraph */
$item-ios-paragraph-text-color:  darken(white, 30%);
$item-md-paragraph-text-color:  darken(white, 30%);
$item-wp-paragraph-text-color:  darken(white, 30%);

$item-ios-paragraph-font-size: 1.2rem;
$item-md-paragraph-font-size: 1.2rem;
$item-wp-paragraph-font-size: 1.2rem;

/* end paragraph */


/* Range slider */
$range-ios-knob-background-color: color($colors, darkGreen);
$range-wp-knob-background-color: color($colors, darkGreen);
$range-md-knob-background-color: color($colors, darkGreen);

$range-md-knob-width: 30px;

$range-ios-bar-active-background-color: color($colors, accentGreen);
$range-wp-bar-active-background-color: color($colors, accentGreen);
$range-md-bar-active-background-color: color($colors, accentGreen);

$range-ios-bar-height: 3px;
$range-md-bar-height: 3px;
$range-wp-bar-height: 3px;

/* end Range slider */

/* Badge */
$badge-ios-background-color: color($colors, darkGreen);
$badge-md-background-color: color($colors, darkGreen);
$badge-wp-background-color: color($colors, darkGreen);
/* End Badge */


/* Font stylezzz */
$font-family-md-base: "Avenir";
$font-family-ios-base: "Avenir";
$font-family-wp-base: "Avenir";
/* Font style end */


//$background-color: #5D5B87;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
