<!-- Generated template for the StartCardComponent component -->


  <ion-row item-end padding-top justify-content-center>
    <button (click)="goToGameSettings()" ion-button color="cardColor"
            class="solidBorder rounded" large>
      <ion-icon name="cog" color="accentGreen"></ion-icon>
    </button>
    <button (click)="startGame()" ion-button color="cardColor"
             class="solidBorder rounded" large>
      <ion-icon name="shuffle" color="accentGreen"></ion-icon>
    </button>
  </ion-row>


