<ion-row justify-content-center>
  <ion-col style="text-align: center">
    <p> Spiel Einstellungen:</p>
    <button *ngIf="user.socketId === game.admin.socketId" (click)="goToGameSettings()" ion-button
            color="cardColor"
            class="solidBorder rounded adminButton">
      <ion-icon name="cog" color="accentGreen"></ion-icon>
    </button>
  </ion-col>

  <ion-col style="text-align: center">
    <p> Nächste Karte:</p>
    <button *ngIf="user.socketId === game.admin.socketId" (click)="startGame()" ion-button color="cardColor"
            class="solidBorder rounded adminButton">
      <ion-icon name="fastforward" color="accentGreen"></ion-icon>
    </button>
  </ion-col>
</ion-row>
