<!-- Generated template for the SurveyComponent component -->

<ion-card class="rounded">
  <ion-title padding-top>
    <div class="cardTitle">"{{survey.question}}"</div>
  </ion-title>


  <ion-row padding justify-content-center>
    <button [disabled]="waitForCardResponse || survey.closed" style="text-transform: none; font-size: 1.5rem"
            *ngFor="let option of survey.options" (click)="emitAnswer(option)" ion-button large color="cardColor"
            class="solidBorder rounded answer" ngClass="{{userAnswer === option.title? 'userChoice' : ''}}">
      <ion-label class="wrapLine" padding-vertical>{{option.title}} {{waitForCardResponse || survey.closed ?
        ' x' + option.voters.length : ''}}
      </ion-label>
    </button>
  </ion-row>
  <ion-row *ngIf="waitForCardResponse" padding justify-content-center>
    <p padding-horizontal>Warte auf {{playerLeftCount === 1 ? " einen anderen Spieler" : playerLeftCount + " andere Spieler"}}</p>
    <ion-spinner color="accentGreen"></ion-spinner>
  </ion-row>
  <ion-row *ngIf="receivedCardResponse || survey.closed" padding justify-content-center>
    <p padding-horizontal>{{losers.length > 0 ? 'Hier sind die Verlierer: ' : 'Meh. Dieses mal trinkt keiner :/'}} </p>
    <div *ngFor="let loser of losers">{{loser.name === user.name ? 'DU' : loser.name}}</div>
  </ion-row>


</ion-card>
