// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

[ion-fixed] {
  width: 100%;
}

.fullHeight {
  height: 100%;
}

.fullWidth {
  width: 100%;
}

.rounded {
  border-radius: 30px;
}

.wrapLine {
  white-space: pre-line;
}

.roundedIcon {
  border-radius: 5px;
  padding: 1px;
}

.roundedCorners {
  border-radius: 20px;
}

.miniAvatar {
  border-radius: 20px;
  padding: 2px;
}

.alert-title {
  color: darken(white, 20%);
}

.answerNote {
  white-space: pre-line;
  padding-left: 1rem;
  padding-right: 1rem;
  color: darken( white, 30%);
}

.centerText {
  text-align: center;
}

.cardTitle {
  text-align: center;
  font-size: 1.8rem;
  white-space: pre-line;
  padding-left: 1rem;
  padding-right: 1rem;
}

.centerContent {
  display: flex;
  align-content: center;
  align-items: center;
}

.solidBorder {
  border: solid 1px color($colors, accentGreen);
}

.solidBorderBottom {
  border-bottom: solid 1px color($colors, accentGreen);
}

.darkBackground {
  background-color: color($colors, dark);
}

@keyframes color-transition {
  0% {
    background-color: #76A6AA;
  }
  50% {
    background-color: #217482;
  }
  100% {
    background-color: #76A6AA;
  }

}
