page-user {

  .bigAvatar {
    width: 100px;
    height: 100px;
    border: color($colors, lightBlue) solid 1px;
    margin: 20px;
    border-radius: 50px;
  }

  .editAvatar {
    position: relative;
    left: 72px;
  }
  .userNameBigBottom {
    position: relative;
    text-align: center;
    width: fit-content;
  }
}
