page-game {
  .gameInfoRow {
    display: flex;
    >div {
      flex-grow: 1;
    }
  }

  .item-ios.item-block .item-inner {
    border: none;
  }

  .item-md.item-block .item-inner {
    padding-right: 8px;
    border: none;
  }
}
