<!--
  Generated template for the GamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="darkBackground">

  <ion-card class="rounded">
    <ion-list margin-vertical no-lines>
      <ion-item tappable="true" (click)="goToUserSettings()">
        <ion-avatar class="solidBorder roundedSmall" item-start>
          <img src="../../assets/avatar/{{user.avatar}}">
        </ion-avatar>
        <h2>{{user.name}}</h2>
        <p>{{room}}</p>
        <ion-icon item-end name="arrow-forward"></ion-icon>
      </ion-item>
      <ion-row justify-content-center>
        <ion-col style="text-align: center">
          <p>Schlücke:</p>
          <ion-badge padding-horizontal>{{user.sips}}</ion-badge>
        </ion-col>
        <ion-col style="text-align: center">
          <p>Multiplikator: </p>
          <ion-badge padding-horizontal>x {{user.multiplier}}</ion-badge>

        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col style="text-align: center">
          <p>Karte:</p>
          <ion-badge padding-horizontal>{{game.cardsPlayed}} / {{game.cardsPerGame}}</ion-badge>

        </ion-col>
        <ion-col style="text-align: center">
          <p> Spiel Multiplikator:</p>
          <ion-badge padding-horizontal>x {{game.multiplier}}</ion-badge>

        </ion-col>
      </ion-row>

      <start-card item-end *ngIf="user.socketId === game.admin.socketId"></start-card>


    </ion-list>
  </ion-card>

  <div>
    <wait-for-it padding-top class="fullWidth" *ngIf="!game.currentCard"></wait-for-it>
    <survey class="fullWidth" *ngIf="currentCardCategory === 'surveys'">

    </survey>
    <guess class="fullWidth" *ngIf="currentCardCategory === 'guess'">

    </guess>
  </div>


</ion-content>
