<!--
  Generated template for the PlayerOverviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="darkBackground">
  <ion-list padding>
    <ion-item style="font-size: 1.5rem" margin-bottom class="rounded" no-lines *ngFor="let player of players">
      <ion-avatar class="solidBorder miniAvatar" item-start><img src="../../assets/avatar/{{player.avatar}}">
      </ion-avatar>
      <ion-item no-padding>
        <h2>{{player.name}}
        </h2>
        <ion-badge style="margin-right: 0" item-end *ngIf="player.socketId === game.admin.socketId">Admin</ion-badge>

      </ion-item>

      <ion-row style="flex-flow: row">
        <ion-col style="padding-left: 0;">
          <p>Schlücke:
            <ion-badge>{{player.sips}}</ion-badge>
          </p>

        </ion-col>
        <ion-col>
          <p>Multiplikator:
            <ion-badge>x {{player.multiplier}}</ion-badge>
          </p>


        </ion-col>
      </ion-row>

    </ion-item>


  </ion-list>
</ion-content>
